body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body a {
  text-decoration: none;
  cursor: pointer;
}

body .primary-btn {
  background-color: #ee5d2b;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 8px 25px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

body .overlay {
  width: 100%;
  height: 100%;
  background-color: #0583f28c;
}

body .blue-overlay {
  width: 100%;
  height: 100%;
  background-color: #0470e4a3;
  padding: 30px 0 20px;
}

body .highlight {
  color: #ee5d2b;
}

body h1 {
  font-size: 1.2em;
}

body h2.title {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-align: center;
  color: #707070;
}

body .underline {
  border: 3px solid #ff0000;
  border-radius: 40px;
  width: 60px;
  margin-top: -5px;
}

.top-nav {
  border-bottom: 1px solid #c1c1c1;
}

.nav-cta {
  position: relative;
  height: 40px;
}

.nav-cta::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
}

.nav-cta::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  height: 15px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
}

.nav-cta ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 18px;
  background-color: #ee5d2b;
}

.nav-cta ul li img {
  width: 10px;
  height: auto;
}

.nav-cta ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}

.brand .logo {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.35;
  text-align: left;
  color: #707070;
}

.brand .call-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.brand .call-cta img {
  margin: 0 10px;
}

.brand .call-cta .contact-number p {
  font-family: inherit;
  color: #707070;
  font-size: 12px;
  margin: 0;
}

.brand .call-cta .contact-number a {
  text-decoration: none;
  color: #ee5d2b;
  font-family: inherit;
  font-size: 14px;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 18px 40px;
  cursor: pointer;
}

nav ul li a {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 1.37;
  text-align: left;
  color: #707070;
}

nav ul li.active {
  background-color: #f6f6f6;
  border-top: 2px solid #ee5d2b;
}

#banner {
  color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 70vh;
}

#banner .slick-dots {
  bottom: 16px;
}

#banner .banner-slide {
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
}

#banner .banner-slide .title {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  padding-bottom: 10px;
}

#banner .banner-slide .quote {
  font-size: 40px;
  width: 390px;
  margin: 0;
  padding-bottom: 10px;
}

#banner .banner-slide .primary-btn {
  margin: 10px 0;
}

#banner .banner-slide .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#brand-highlight {
  background-color: #e2e2e2;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

#brand-highlight h1 {
  color: #707070;
}

#about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  background: url(../assets/Man-PNG-Pic.png) left top no-repeat, url(../assets/pattern.png) center no-repeat;
  background-size: 50% 100%, cover;
  width: 100%;
  height: 500px;
  overflow-x: hidden;
}

#about-us .about-img,
#about-us .about-desc {
  width: 50%;
  text-align: left;
}

#about-us .about-img .title,
#about-us .about-desc .title {
  text-align: left;
}

#about-us .about-img p,
#about-us .about-desc p {
  width: 80%;
}

#about-us .about-img img {
  width: 500px;
}

#why-choose-us {
  background-image: url("../assets/pattern.png");
  background-repeat: repeat;
  background-size: 70%;
  width: 100%;
  height: auto;
  color: #ffffff;
  overflow-x: hidden;
}

#why-choose-us .blue-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#why-choose-us .blue-overlay .title {
  color: #ffffff;
  padding-top: 30px;
}

#why-choose-us .blue-overlay .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#why-choose-us .blue-overlay .container .card {
  width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px;
  padding: 10px 20px;
  text-align: center;
}

#why-choose-us .blue-overlay .container .card .img-box {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 100%;
  border: 1px dashed #222222;
  padding: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#why-choose-us .blue-overlay .container .card .img-box img {
  width: 70px;
  height: auto;
}

#our-system {
  background-image: url("../assets/pattern2.png");
  background-position: center center;
  background-size: 70%;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

#our-system .title {
  padding-top: 30px;
}

#our-system .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#our-system .container .card {
  width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 25px;
  background-color: #ffffff;
  margin-top: 90px;
}

#our-system .container .card .img-box {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 100%;
  border: 1px dashed #222222;
  padding: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -60px;
}

#our-system .container .card .img-box img {
  height: 50px;
}

#our-system .container .card .count {
  font-size: 2em;
  line-height: 2px;
  font-weight: 600;
}

#our-system .container .card h3 {
  font-weight: 300;
}

#our-system .container .bg-red {
  border: 1px dashed #ff0000;
  background-color: #fff3f3;
}

#our-system .container .bg-blue {
  border: 1px dashed #0583f2;
  background-color: #eef6fe;
}

#our-system .container .bg-green {
  border: 1px dashed #42b84d;
  background-color: #effff1;
}

#our-system .container .theme-green {
  color: #42b84d;
}

#our-system .container .theme-red {
  color: #ff0000;
}

#our-system .container .theme-blue {
  color: #0583f2;
}

#parents-say {
  background-image: url("../assets/parent.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-blend-mode: overlay;
  text-align: center;
}

#parents-say .title {
  color: #ffffff;
}

#parents-say .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#parents-say .container .card {
  width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
  padding: 30px 20px;
  text-align: center;
  border-radius: 25px;
  background-color: #ffffff;
  text-align: center;
}

#parents-say .container .card img {
  margin: 0 auto;
}

#parents-say .container .card .name {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #4b4b4b;
  padding: 10px 0 0;
}

#parents-say .container .card .designation {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  color: #aeaeae;
}

#parents-say .container .card .intro {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.33;
  color: #4b4b4b;
  padding: 20px 0 10px;
}

footer {
  background-color: #222222;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-align: center;
}

footer div {
  min-width: 250px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li {
  padding: 10px;
}

footer ul li a {
  cursor: pointer;
}

.slick-dots li button:before {
  color: #ffffff !important;
  font-size: 10px !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container::after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (max-width: 500px) {
  .nav-cta {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #why-choose-us .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #why-choose-us .container .card {
    min-width: 250px;
    margin: 10px !important;
  }
  #our-system .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #our-system .container .card {
    min-width: 250px;
  }
  #about-us {
    height: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url(../assets/Man-PNG-Pic.png) center top no-repeat, url(../assets/pattern.png) center no-repeat;
    background-size: auto 50%, cover;
  }
  #about-us .about-img {
    height: 50%;
  }
  #about-us .about-img,
  #about-us .about-desc {
    width: 80%;
  }
  #parents-say {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 425px) {
  .brand .call-cta {
    display: none;
  }
  #banner .quote {
    font-size: 30px;
    width: 90vw;
  }
}

#banner.slick-slider {
  margin: 0 !important;
}
/*# sourceMappingURL=index.css.map */